# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/
.eggs/
dist/
build/
.venv/
.env
.env.*
*.sqlite3
*.db

# Editors & tools
.vscode/
.idea/
*.swp
*.log
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db

# Docker & Compose
*.pid
docker-data/
.env
